<%= button_to "Sign Out", destroy_user_session_path, :method => :delete %>
<%= link_to "Create Post", new_post_path %>
<div class="posts">
    <% @posts.each do |post| %>
        <%= render post %>
    <% end %>
</div>